/**
* 'blocks/projects'
*/

.andersen-block-project {
  @import "../assets/scss/base/variables";
  @import "../assets/scss/base/typography";

  + .andersen-block-project {
    margin-top: $unit500;

    @media all and (min-width: $screen-lg) {
      margin-top: $unit600;
    }
  }

  a {
    display: grid;
    grid-template-columns: 1fr;
    text-decoration: none !important;

    &:hover,
    &:focus {
      color: $color-dark-purple !important;

      .andersen-block-project-header .andersen-block-project-title {
        text-decoration: underline !important;
      }
    }

    @media all and (min-width: $screen-md) {
      display: grid;
      grid-template-columns: [image] 1fr [header] 1fr;
      gap: $grid-gutter-row $grid-gutter-column;
      align-items: center;
    }

    @media all and (min-width: $screen-lg) {
      grid-template-columns: [image] 7fr [header] 5fr;
    }
  }

  &:nth-child(odd) {
    a {
      @media all and (min-width: $screen-lg) {
        grid-template-columns: [header] 5fr [image] 7fr;
      }
    }
  }

  .andersen-block-project-header {
    grid-template: "header";

    @media all and (max-width: $screen-md) {
      margin-top: $unit200;
    }

    .andersen-block-project-title {
      display: inline-block;
      position: relative;
      @extend h4;
      margin-top: 0;
      margin-bottom: 0.4rem;

      @media all and (min-width: $screen-md) {
        margin-bottom: 0.8rem;
      }
    }

    .andersen-block-project-excerpt {
      margin: 0;
    }
  }

  .andersen-block-project-image {
    grid-template: "image";
    order: -1;

    figure {
      margin: 0;
      padding: 0;
    }
  }

  &:nth-child(odd) {
    .andersen-block-project-image {
      @media all and (min-width: $screen-md) {
        order: 0;
      }
    }
  }
}
