/**
* 'blocks/projects'
*/

.andersen-block-project {
  @import "../assets/scss/base/variables";
  @import "../assets/scss/base/typography";

  + .andersen-block-project {
    margin-top: $unit500;

    @media all and (min-width: $screen-lg) {
      margin-top: $unit600;
    }
  }

  a {
    display: grid;
    grid-template-columns: 1fr;
    text-decoration: none !important;
    text-decoration-color: $color-greyish-purple;
    -webkit-transition: all $duration-normal $ease;
    -moz-transition: all $duration-normal $ease;
    transition: all $duration-normal $ease;

    &:hover,
    &:focus {
      .andersen-block-project-header .andersen-block-project-title {
        text-decoration: underline;
        text-decoration-color: $color-greyish-purple;
        -webkit-transition: all $duration-normal $ease;
        -moz-transition: all $duration-normal $ease;
        transition: all $duration-normal $ease;
      }
    }

    @media all and (min-width: $screen-md) {
      grid-template-columns: [image] 1fr [header] 1fr;
      gap: $grid-gutter-row $grid-gutter-column;
      align-items: center;
    }

    @media all and (min-width: $screen-lg) {
      grid-template-columns: [image] 7fr [header] 5fr;
    }
  }

  &:nth-child(odd) {
    a {
      @media all and (min-width: $screen-md) {
        grid-template-columns: [header] 1fr [image] 1fr;
      }

      @media all and (min-width: $screen-lg) {
        grid-template-columns: [header] 5fr [image] 7fr;
      }

      .andersen-block-project-image {
        @media all and (min-width: $screen-md) {
          order: 0;
        }
      }
    }
  }

  .andersen-block-project-header {
    @media all and (min-width: $screen-md) {
      grid-column: header;
    }

    @media all and (max-width: $screen-md) {
      margin-top: $unit200;
    }

    .andersen-block-project-title {
      display: inline-block;
      position: relative;
      @extend h3;
      margin-top: 0;
      margin-bottom: 0.4rem;
      text-decoration-color: $color-greyish-purple;
      -webkit-transition: all $duration-normal $ease;
      -moz-transition: all $duration-normal $ease;
      transition: all $duration-normal $ease;

      @media all and (min-width: $screen-md) {
        margin-bottom: 0.8rem;
      }
    }

    .andersen-block-project-excerpt {
      margin: 0;
    }
  }

  .andersen-block-project-image {
    order: -1;

    @media all and (min-width: $screen-md) {
      grid-column: image;
    }

    figure {
      margin: 0;
      padding: 0;
    }
  }
}
