/**
 *
 * Base
 *
 */

html {
	font-size: 62.5%; // 10px = 1rem
	box-sizing: border-box;
	-ms-overflow-style: scrollbar;
	height: 100%;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $backgroundroststarterite;
	font-family: $fontroststarterecondary;
	font-size: $fontroststarterize_base; // default for document */
	line-height: $line_height;
	color: $color_text;
	margin: 0px; // Remove the margin in all browsers.
	min-height: 100%;

	@include respond-to('large') {
		font-size: $lg_fontroststarterize_base;
	}
}

// Accessibility
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}