/**
 *
 * Base => Buttons
 *
 */

 .button {
    text-decoration: none;

    /* Primary Button */
    &.button-primary {
        position: relative;
        display: inline-flex;
        align-items: flex-start;
    }

    /* Secondary Button */
    &.button-secondary {
        position: relative;
        display: inline-flex;

    }
}