/**
 *
 * Base => Fonts
 *
 */

@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-display: swap;
  src: url("../andersen/assets/fonts/inter.woff2") format("woff2"),
    url("../andersen/assets/fonts/inter.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-display: swap;
  src: url("../andersen/assets/fonts/inter-medium.woff2") format("woff2"),
    url("../andersen/assets/fonts/inter-medium.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-display: swap;
  src: url("../andersen/assets/fonts/inter-semibold.woff2") format("woff2"),
    url("../andersen/assets/fonts/inter-semibold.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-display: swap;
  src: url("../andersen/assets/fonts/inter-bold.woff2") format("woff2"),
    url("../andersen/assets/fonts/inter-bold.woff") format("woff");
}
