/**
*
* Base => Links
*
*/

a {
  font-weight: 400;
  color: $color-dark-purple;
  -webkit-transition: all $duration-fast $ease;
  -moz-transition: all $duration-fast $ease;
  transition: all $duration-fast $ease;

  &:hover,
  &:focus {
    -webkit-transition: all $duration-fast $ease;
    -moz-transition: all $duration-fast $ease;
    transition: all $duration-fast $ease;
  }
}

#site-header,
#site-footer {
  a {
    text-decoration: none;
  }
}

#site-content {
  a {
    text-decoration: underline;

    &:hover,
    &:focus {
      color: $color-purple;
    }

    &:focus {
      text-decoration: none;
    }
  }
}
