/**
*
* Base => Padding
*
*/

.site-padding {
  padding-left: $unit200;
  padding-right: $unit200;

  @media all and (min-width: $screen-md) {
    padding-left: $unit400;
    padding-right: $unit400;
  }

  @media all and (min-width: $screen-lg) {
    padding-left: $unit500;
    padding-right: $unit500;
  }

  @media all and (min-width: $screen-xl) {
    padding-left: $unit500;
    padding-right: $unit500;
  }
}
