
/**
 *
 * Base => Typography
 *
 */

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
 	margin-bottom: $unit200;
 	font-weight: 600;
 	line-height: 1.2;
 }

 h1 {
 }

 h2 {
 }

 h3 {
 }

 h4,
 .lead {
 }

 h5,
 h6 {
 }

 p {
 }
