/**
*
* Base => Typography
*
*/

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}

h3,
h4,
h5,
h6 {
  margin-top: $unit400;

  @media all and (min-width: $screen-md) {
    margin-top: $unit500;
  }
}

h2,
h3,
h4,
h5,
h6 {
  + p,
  + ul {
    margin-top: 0;
  }
}

h1,
h2.page-title,
h2.post-title {
  margin: 0;
  font-size: 4.8rem;

  @media all and (min-width: $screen-md) {
    font-size: 6.4rem;
  }

  @media all and (min-width: $screen-lg) {
    font-size: 7.2rem;
  }
}

h2 {
  margin-top: $unit500;
  margin-bottom: $unit200;
  font-size: 3.2rem;

  @media all and (min-width: $screen-md) {
    margin-top: $unit700;
    font-size: 4.8rem;
  }

  @media all and (min-width: $screen-lg) {
    margin-top: $unit700 + $unit200;
    font-size: 5.4rem;
  }
}

h3 {
  margin-bottom: $unit100;
  font-size: 2.4rem;

  @media all and (min-width: $screen-md) {
    margin-top: $unit500 + $unit200;
    margin-bottom: $unit200;
    font-size: 3.6rem;
  }

  @media all and (min-width: $screen-lg) {
    margin-top: $unit600;
    margin-bottom: $unit200 + ($unit100 / 2);
    font-size: 4rem;
    line-height: 1.2;
  }
}

h4 {
  margin-bottom: 1.2rem;
  font-size: 2rem;

  @media all and (min-width: $screen-md) {
    margin-bottom: $unit100;
    font-size: 2.8rem;
  }

  @media all and (min-width: $screen-lg) {
    margin-top: $unit500;
    margin-bottom: $unit200;
    font-size: 3.2rem;
    line-height: 1.25;
  }
}

h5 {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;

  @media all and (min-width: $screen-md) {
    margin-bottom: 1.2rem;
    font-size: 2rem;
  }

  @media all and (min-width: $screen-lg) {
    margin-bottom: $unit100;
    font-size: 2.4rem;
  }
}

h6 {
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;

  @media all and (min-width: $screen-md) {
    margin-bottom: 1.2rem;
    font-size: 1.4rem;
  }

  @media all and (min-width: $screen-lg) {
    margin-bottom: $unit100;
    font-size: 1.6rem;
  }
}

p,
ul {
  margin-top: $unit200;
  margin-bottom: $unit200;

  @media all and (min-width: $screen-md) {
    margin-top: $unit300;
    margin-bottom: $unit300;
  }
}

ul {
  padding-left: $unit300;

  li {
    + li {
      padding-top: $unit100;
    }
  }
}

strong,
b {
  font-weight: 600;
}

/* Block Editor */
.has-huge-font-size,
.display {
  font-family: $font-family-secondary;
  font-size: 4.4rem;
  font-weight: 400;

  @media all and (min-width: $screen-md) {
    font-size: 6.4rem;
  }

  @media all and (min-width: $screen-lg) {
    font-size: 7.2rem;
  }
}

.has-large-font-size {
  font-size: $font-size-base;

  @media all and (min-width: $screen-md) {
    font-size: $font-size-large;
  }
}

.has-regular-font-size {
  font-size: $font-size-small;

  @media all and (min-width: $screen-md) {
    font-size: $font-size-base;
  }
}

.has-small-font-size {
  font-size: $font-size-smaller;

  @media all and (min-width: $screen-md) {
    font-size: $font-size-small;
  }
}
