/**
 *
 * Base => Variables
 *
 */

 $screen-sm: 576px;
 $screen-md: 768px;
 $screen-lg: 1106px;
 $screen-xl: 1560px;

// Containers
$container-site: 100%;
$container-content: 1200px;
$container-text: 850px;

// Grid
$grid-gutters: 4rem 4rem;

// Typography
$font-size-smaller: 1.2rem;
$font-size-small: 1.6rem;
$font-size-base: 2rem;
$font-size-large: 3.2rem;

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-display: swap;
  src: url("assets/fonts/inter.woff2") format("woff2"),
  url("assets/fonts/inter.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-display: swap;
  src: url("assets/fonts/inter-medium.woff2") format("woff2"),
  url("assets/fonts/inter-medium.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-display: swap;
  src: url("assets/fonts/inter-semibold.woff2") format("woff2"),
  url("assets/fonts/inter-semibold.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-display: swap;
  src: url("assets/fonts/inter-bold.woff2") format("woff2"),
  url("assets/fonts/inter-bold.woff") format("woff");
}

$font-family: Inter, system-ui, sans-serif;

// Colors
$color-purple-black  : #170D24;
$color-dark-purple   : #241438;
$color-purple        : #845EB0;
$color-greyish-purple: #C2AED8;
$color-light-purple  : #F9F7FB;

// Spacing
$unit100: 1.6rem;
$unit200: 2.4rem;
$unit300: 4rem;
$unit400: 6.4rem;
$unit500: 9.6rem;
$unit600: 12rem;
$unit700: 18.4rem;
$unit800: 22.4rem;

// Transitions
$duration-fast: 0.2s;
$duration-normal: 0.4s;
$duration-slow: 2s;

$ease: cubic-bezier(0.29, 0, 0.28, 1); // https://cubic-bezier.com/#.29,0,.28,1
$ease-in: cubic-bezier(0.41, 0.03, 1, 1); // https://cubic-bezier.com/#.41,.03,1,1
$ease-out: cubic-bezier(0, 0.08, 0.47, 1); // https://cubic-bezier.com/#0,.08,.47,1
$ease-in-out: cubic-bezier(0.45, 0, 0.55, 1); // https://cubic-bezier.com/#.45,0,.55,1
