/**
 *
 * Base => Blocks
 *
 */

.page-content {
  /* Image Block */
  .wp-block-image {
    margin-top: $unit400;

    @media all and (min-width: $screen-md) {
      margin-top: $unit500;
    }

    @media all and (min-width: $screen-lg) {
      margin-top: $unit600;
    }

    img {
      height: auto;
    }

    figcaption {
      font-size: $font-size-smaller;
      color: $color-dark-purple;

      @media all and (min-width: $screen-md) {
        font-size: $font-size-small;
      }
    }
  }
}
