/**
 *
 * Layout => Post => Content
 *
 **/

 /* Containers */
 #site-header,
 #site-content,
 #site-footer {
 	max-width: $container-site;
 	margin-left: auto;
 	margin-right: auto;
 	padding-left: $unit200;
 	padding-right: $unit200;

 	@media all and (min-width: $screen-md) {
 		padding-left: $unit300;
 		padding-right: $unit300;
 	}

 	@media all and (min-width: $screen-lg) {
 		padding-left: $unit400;
 		padding-right: $unit400;
 	}
 }


 /* Headings */
 .single-post .page-header {
 	margin-top: $unit400;

 	@media all and (min-width: $screen-lg) {
 		margin-top: $unit600;
 	}
 }


 /* Page content */
 #site-content {
 	.page-content {
 		max-width: $container-content;
 		margin-left: auto;
 		margin-right: auto;

 		> p,
 		> h2,
 		> h3,
 		> h4,
 		> h5,
 		> h6 {
 			max-width: $container-text;
 			margin-left: auto;
 			margin-right: auto;
 		}

 	}
 }

