/**
*
* Layout => Footer
*
**/

#site-footer {
  background: $color-light-purple;
  width: 100%;
  margin: $unit600 0 0 0;
  padding: $unit200 0;

  @media all and (min-width: $screen-md) {
    margin-top: $unit700;
    padding-top: $unit300;
    padding-bottom: $unit300;
  }

  .footer-heading {
    font-family: $font-family-primary;
    font-size: $font-size-small;
    font-weight: 500;
    margin-top: $unit400;
    margin-bottom: $unit100 / 2;

    &:first-of-type {
      margin-top: 0;
    }

    @media all and (min-width: $screen-md) {
      font-size: $font-size-base;
    }
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline;
      list-style: none;

      + li {
        padding-left: $unit100 / 2;
      }
    }
  }

  #footer-byline {
    width: 100%;
    margin-top: $unit200;
    font-size: $font-size-smaller;
    line-height: 1.6;
    text-align: right;

    @media all and (min-width: $screen-md) {
      margin-top: 0;
      font-size: $font-size-small;
    }

    @media all and (min-width: $screen-lg) {
      font-size: $font-size-small;
    }

    a {
      &:before {
        background: $color-greyish-purple;
        height: 0.15rem;
        bottom: -0.05rem;

        @media all and (min-width: $screen-md) {
          height: 0.16rem;
          bottom: 0;
        }
      }

      &:hover:before,
      &:focus:before {
        background: $color-purple;
      }
    }

    p {
      margin: 0;
    }
  }
}
