/**
 *
 * Layout => Header
 *
 */

 .site-header {
 	display: flex;
 	flex-direction: row;
 	clear: both;

 	.site-branding {
 		width: 50%;
 	}

 	#site-navigation {
 		width: 50%;
 		text-align: right;

 		.menu-toggle {
 			cursor: pointer;

 			&:after {
 				content: 'Meny';
 			}

 			&[aria-expanded=true] {
 				&:after {
 					content: 'Lukk';
 				}
 			}

 			@include respond-to('md') {
 				display: none;
 			}
 		}
 	}
 }