/**
* 
* Layout => Post Header
*
*/

#post-hero {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: space-between;
  max-width: $container-content;
  margin-left: auto;
  margin-right: auto;

  @media all and (max-width: $screen-xl) {
    position: relative;
    left: 50%;
    right: 50%;
    width: 100vw;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  @media all and (min-width: $screen-md) {
    display: grid;
    grid-gap: $grid-gutter-row $grid-gutter-column;
    align-items: center;
    justify-items: flex-end;
    grid-template-columns: [image] 7fr [title] 5fr;
  }

  .post-header {
    align-self: center;
    @extend .site-padding;
    text-align: center;

    @media all and (min-width: $screen-md) {
      grid-area: "title";
      margin: 0;
    }

    .post-title {
      margin: 0;
    }
  }

  .post-thumbnail {
    align-self: end;
    margin: $unit500 0 0 0;

    @media all and (min-width: $screen-md) {
      grid-area: "image";
      order: -1;
      margin: 0;
    }
  }
}
