/**
*
* Layout => Menu 
*
**/

/* Behavior */
.menu-open {
  @media all and (max-width: $screen-md) {
    overflow: hidden;
  }

  #site-navigation {
    display: block;
    animation: slideLeft $duration-normal $ease-in-out 0.1s forwards;
    -webkit-animation: slideLeft $duration-normal $ease-in-out 0.1s forwards;
    -moz-animation: slideLeft $duration-normal $ease-in-out 0.1s forwards;
  }
}

.menu-close {
  #site-navigation {
    display: block;
    left: 0;
    animation: slideRight $duration-normal $ease-in-out 0.1s forwards;
    -webkit-animation: slideRight $duration-normal $ease-in-out 0.1s forwards;
    -moz-animation: slideRight $duration-normal $ease-in-out 0.1s forwards;

    @media all and (min-width: $screen-md) {
      left: 40vw;
    }

    @media all and (min-width: $screen-lg) {
      left: 50vw;
    }

    @media all and (min-width: $screen-xl) {
      left: 60vw;
    }
  }
}

/* Menu */
#site-navigation {
  z-index: 1000;
  display: none;
  overflow-y: scroll;

  position: fixed;
  top: 0;
  left: 100vw;

  background: $color-light-purple;
  width: 100%;
  height: 100%;

  padding-top: $unit200;
  padding-bottom: $unit200;
  @extend .site-padding;

  line-height: 1.25;

  @media all and (min-width: $screen-md) {
    width: 60%;
    padding-top: $unit300;
    padding-bottom: $unit300;
  }

  @media all and (min-width: $screen-lg) {
    width: 50%;
    padding-top: $unit400;
    padding-bottom: $unit400;
  }

  @media all and (min-width: $screen-xl) {
    width: 40%;
  }

  /* Menu content */
  .site-menu-content {
    margin-top: $unit600;

    @media all and (min-width: $screen-md) {
      height: 90%;
      margin-top: $unit600;
    }

    @media all and (min-width: $screen-lg) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: $unit400;
    }

    .site-menu-title {
      margin-top: 0;
      margin-bottom: 1.2rem;
      font-size: 1.6rem;
      font-weight: 400;

      @media all and (min-width: $screen-sm) {
        margin-bottom: $unit100;
      }

      @media all and (min-width: $screen-lg) {
        font-size: 2rem;
      }
    }

    section + section {
      margin-top: $unit500;

      @media all and (min-width: $screen-md) {
        margin-top: $unit500 + $unit100;
      }

      @media all and (min-width: $screen-lg) {
        margin-top: $unit600;
      }
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
      }
    }

    a {
      font-weight: 500;
    }

    /* Projects */
    #project-menu {
      margin: 0;
      font-size: 2.4rem;

      @media all and (min-width: $screen-sm) {
        font-size: 3.2rem;
      }

      @media all and (min-width: $screen-lg) {
        font-size: 3.6rem;
      }

      li + li {
        padding-top: $unit100;

        @media all and (min-width: $screen-sm) {
          padding-top: $unit100 + 0.4rem;
        }

        @media all and (min-width: $screen-md) {
          padding-top: $unit200;
        }
      }
    }

    /* Pages */
    #page-main-menu {
      margin: 0;
      font-size: 2rem;

      @media all and (min-width: $screen-sm) {
        font-size: 2.4rem;
      }

      @media all and (min-width: $screen-lg) {
        font-size: 2.8rem;
      }

      li + li {
        padding-top: $unit100 / 2;

        @media all and (min-width: $screen-sm) {
          padding-top: 1.2rem;
        }
      }
    }

    /* Contact */
    .contact {
      font-size: 1.6rem;

      @media all and (min-width: $screen-sm) {
        font-size: 2rem;
      }

      @media all and (min-width: $screen-lg) {
        font-size: 2.4rem;
      }
    }
  }
}
