/**
*
* Layout => Header
*
*/

#site-header {
  display: grid;
  width: 100%;
  grid-template-columns: [title] 2fr [menu] auto;
  align-items: center;
  padding-top: $unit200;
  padding-bottom: $unit200;
  text-align: left;

  @media all and (min-width: $screen-md) {
    padding-top: $unit300;
    padding-bottom: $unit300;
  }

  @media all and (min-width: $screen-lg) {
    padding-top: $unit400;
    padding-bottom: $unit400;
  }

  .site-title,
  .site-menu-toggle {
    font-size: $font-size-smaller;

    @media all and (min-width: $screen-sm) {
      font-size: $font-size-small;
    }

    @media all and (min-width: $screen-xl) {
      font-size: $font-size-base;
    }

    a {
      font-weight: 500;
      text-decoration: none;
    }
  }

  .site-title {
    grid-area: title;
    margin: 0;

    a {
      text-decoration-color: $color-greyish-purple;

      &:hover,
      &:focus {
        text-decoration: underline;
        text-decoration-color: $color-greyish-purple;
      }
    }
  }

  .site-menu-toggle {
    grid-area: menu;
    text-align: right;

    a {
      > .label {
        &:hover,
        &:focus {
          text-decoration: underline;
          text-decoration-color: $color-greyish-purple;
        }
      }

      span[role="img"] {
        padding-right: 0.4rem;
      }
    }
  }

  #container-menu {
    display: none;
  }
}

/* When the menu is open */
.menu-open {
  #container-menu {
    display: block !important;
  }

  .skip-link,
  #site-content,
  #site-footer {
    display: none; // prevent access from menu
  }
}
