/**
 *
 * Layout => Footer
 *
 **/

#site-footer {
  background: $color-light-purple;
  width: 100%;
  margin: $unit600 0 0 0;
  padding-top: $unit300;
  padding-bottom: $unit300;
  @extend .site-padding;

  @media all and (min-width: $screen-md) {
    margin-top: $unit700;
    padding-top: $unit400;
    padding-bottom: $unit400;
  }

  @media all and (min-width: $screen-lg) {
    padding-top: $unit500;
  }

  @media all and (min-width: $screen-xl) {
    padding-top: $unit500;
  }

  .container {
    max-width: $container-content;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-heading {
    font-family: $font-family-primary;
    font-size: $font-size-small;
    margin-top: $unit400;
    margin-bottom: $unit100 / 2;

    @media all and (min-width: $screen-md) {
      margin-bottom: $unit100 / 2;
    }

    @media all and (min-width: $screen-lg) {
      margin-top: $unit500;
      margin-bottom: $unit100;
      font-size: $font-size-base;
    }

    @media all and (min-width: $screen-xl) {
      font-size: $font-size-large;
    }

    &:first-of-type {
      margin-top: 0;
    }
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline;
      list-style: none;

      + li {
        padding-left: $unit100 / 2;

        @media all and (min-width: $screen-md) {
          padding-left: $unit100;
        }

        @media all and (min-width: $screen-xl) {
          padding-left: $unit200;
        }
      }
    }
  }

  #footer-byline {
    width: 100%;
    margin-top: $unit200;
    line-height: 1.6;
    text-align: right;

    @media all and (min-width: $screen-md) {
      margin-top: 0;
    }

    @media all and (min-width: $screen-xl) {
      font-size: 0.8em;
    }

    p {
      margin: 0;
    }
  }
}
