/**
*
* Layout => Menu 
*
*/

.menu-open {
  overflow: hidden;

  #site-navigation {
    display: block;
    overflow-y: scroll;
    animation: slideLeft $duration-slow $ease-in-out 0.1s forwards;
    -webkit-animation: slideLeft $duration-slow $ease-in-out 0.1s forwards;
    -moz-animation: slideLeft $duration-slow $ease-in-out 0.1s forwards;
  }
}

.menu-close {
  #site-navigation {
    display: block;
    left: 0;
    animation: slideRight $duration-slow $ease-in-out 0.1s forwards;
    -webkit-animation: slideRight $duration-slow $ease-in-out 0.1s forwards;
    -moz-animation: slideRight $duration-slow $ease-in-out 0.1s forwards;
  }
}

#site-navigation {
  z-index: 1000;
  display: none;
  position: fixed;
  background: $color-light-purple;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100vw;
  padding-top: $unit200;
  padding-bottom: $unit200;
  @extend .site-padding;

  @media all and (min-width: $screen-md) {
    padding-top: $unit300;
    padding-bottom: $unit300;
  }

  @media all and (min-width: $screen-lg) {
    padding-top: $unit400;
    padding-bottom: $unit400;
  }

  .site-menu-content {
    @media all and (min-width: $screen-md) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }

    .site-menu-title {
      margin-top: 0;
      margin-bottom: 1.2rem;
      font-size: 1.6rem;
      font-weight: 500;

      @media all and (min-width: $screen-md) {
        font-size: 2rem;
        font-weight: 400;
      }
    }

    .project-navigation #project-menu,
    .page-navigation #page-main-menu {
      line-height: 1.25;

      ul {
        margin: 0;
        padding: 0;

        li {
          list-style: none;

          a {
            font-weight: 500;
          }
        }
      }
    }

    .project-navigation {
      margin-top: $unit500;

      @media all and (min-width: $screen-lg) {
        //margin-top: $unit400;
        margin-top: 0;
      }

      #project-menu {
        margin: 0;
        font-size: 2.4rem;

        @media all and (min-width: $screen-sm) {
          font-size: 3.2rem;
        }

        @media all and (min-width: $screen-md) {
          font-size: 4.8rem;
        }

        @media all and (min-width: $screen-lg) {
          font-size: 5.6rem;
        }

        li + li {
          padding-top: $unit100;

          @media all and (min-width: $screen-sm) {
            padding-top: $unit100 + 0.4rem;
          }

          @media all and (min-width: $screen-md) {
            padding-top: $unit200;
          }
        }
      }
    }

    .page-navigation {
      margin-top: $unit500;

      @media all and (min-width: $screen-md) {
        margin-top: $unit600;
      }

      #page-main-menu {
        margin: 0;
        font-size: 2rem;

        @media all and (min-width: $screen-sm) {
          font-size: 2.4rem;
        }

        @media all and (min-width: $screen-md) {
          font-size: 3.2rem;
        }

        @media all and (min-width: $screen-lg) {
          font-size: 3.6rem;
        }

        li {
          @media all and (min-width: $screen-md) {
            display: inline;
          }

          + li {
            padding-top: $unit100 / 2;

            @media all and (min-width: $screen-sm) {
              padding-top: 1.2rem;
            }

            @media all and (min-width: $screen-md) {
              padding-top: 0;
              padding-left: $unit100;
            }
          }
        }
      }
    }
  }
}
