/**
* 
* Layout => Post Header
*
*/

#post-hero {
  display: grid;
  grid-template-columns: 1fr;
  max-width: $container-content;
  margin-left: auto;
  margin-right: auto;
  @extend .site-padding;

  @media all and (max-width: $screen-sm) {
    padding: 0;
  }

  @media all and (min-width: $screen-md) {
    grid-gap: $grid-gutter-row $grid-gutter-column;
    grid-template-columns: [image] 7fr [title] 5fr;
    padding: 0;
  }

  @media all and (min-width: $screen-xl) {
    grid-template-columns: [image] 11fr [title] 1fr;
  }

  @media all and (max-width: $screen-xl) {
    position: relative;
    left: 50%;
    right: 50%;
    width: 100vw;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  .post-header {
    margin-top: $unit500;
    @extend .site-padding;
    text-align: center;

    @media all and (min-width: $screen-md) {
      grid-column: title;
      align-self: center;
      margin-top: 0;
      padding-left: 0;
    }

    .post-title {
      margin: 0;
    }
  }

  .post-thumbnail {
    max-width: 100%;
    margin: $unit400 0 0 0;

    @media all and (min-width: $screen-md) {
      grid-column: image;
      order: -1;
      margin: 0;
    }

    img {
      min-width: 100%;
      height: auto;
    }
  }
}
