@import "../assets/scss/base/variables";

.project-info {
  .editor-inner-blocks {
    margin: 0;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  @media all and (min-width: $screen-md) {
    display: flex;

    .editor-inner-blocks {
      width: 50%;
    }

    .content {
      width: 50%;
      margin-left: $grid-gutter-row / 2;
      margin-bottom: 0;
    }
  }
}
