@import "../assets/scss/base/variables";
@import "../assets/scss/base/padding";

.wp-block-andersen-project-info {
  margin-top: $unit300;
  margin-bottom: $unit500;

  @media all and (max-width: $screen-xl) {
    position: relative;
    left: 50%;
    right: 50%;
    width: 100vw;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  @media all and (min-width: $screen-md) {
    display: grid;
    grid-gap: $grid-gutter-row $grid-gutter-column;
    align-items: center;
    justify-items: flex-end;
    grid-template-columns: [content] 5fr [image] 7fr;
    margin-top: $unit400;
  }

  @media all and (min-width: $screen-lg) {
    margin-top: $unit500;
    margin-bottom: $unit600;
  }

  .content {
    grid-template: "content";
    order: -1;
    max-width: $container-text;
    @extend .site-padding;

    @media all and (min-width: $screen-md) {
      padding-right: 0;
    }
  }

  .wp-block-image {
    grid-template: "image";
    margin-top: 0 !important;
    margin-bottom: $unit200;

    @media all and (min-width: $screen-md) {
      margin: 0;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
}
